@charset "utf-8";
/* CSS Document */
*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	}
/*主要盒子*/
.main_box{
	width: 100%;
	}
/*信息列表*/
.main_box .info_list_box{
	margin-top: 30px;
	}
.main_box .info_list_box li{
	font-size: 20px;
	margin-top: 20px;
	}
/*我的签名*/
.main_box .info_list_box li:nth-child(3) .info_box{
	position: relative;
    height: 90px;
    line-height: 32px;
    color: #666;
    clear: both;
	}
/*地址*/
.main_box .info_list_box li:nth-child(8) .info_box{
	position: relative;
    height: 90px;
    line-height: 32px;
    color: #666;
    clear: both;
	}
/*内部盒子*/
.info_box{
	position: relative;
    height: 32px;
    line-height: 32px;
    color: #666;
    clear: both;
	}
/*左边说明部分*/
.info_list_left{
	width: 120px;
	float: left;
	text-align: right;
	margin-right: 30px;
	}
/*右边修改部分*/
.info_list_right{
	float: left;
	}
/*右边input*/
input:focus{
	outline: none;
	}
.info_list_right .in_input{
    height: 30px;
    border-radius: 5px;
    line-height: 30px;
    padding-left: 5px;
	font-size: 17px;
	}
/*右边多文本输入框*/
textarea:focus{
	outline: none;
	}
.info_list_right textarea{
	width: 450px;
    height: 80px;
    resize: none;
    padding: 3px 8px;
	border: 1px solid #09F;
	border-radius: 5px;
	font-size: 20px;
	}
/*性别部分*/
/*.info_list_right a{
	border-radius: 3px;
	padding: 3px 10px;
	color: #fff;
	cursor: pointer;
	}
.info_list_right a:not(.now_sex){
	background: #999;
	}
.now_sex{
	background: #09F;
	}*/
/*性别部分*/
.choose_input{
	cursor: pointer;
	width: 17px;
	height: 17px;
	margin-left: 5px;
	}
/*用户名*/
.username_info{
	width: 180px;
	border: 1px solid #09F;
	}
/*真实姓名*/
.usertruename_info{
	width: 180px;
	border: 1px solid #09F;
	}
/*身份证号*/
.useridcard_info{
	width: 230px;
	border: 1px solid #09F;
	}
/*出生日期*/
.userbirthday_info{
	width: 230px;
	border: 1px solid #999;
	}
/*手机号*/
.usertel_info{
	width: 190px;
	border: 1px solid #999;
	}
/*Email*/
.userEmail_info{
	width: 220px;
	border: 1px solid #09F;
	}
/*注册时间*/
.userjointime_info{
	width: 230px;
	border: 1px solid #999;
	}
/*提交按钮*/
.user_info_submit_btn{
	width: 100px;
    height: 35px;
    border-radius: 7px;
    border: none;
    font-size: 16px;
    line-height: 35px;
    background: rgba(215,79,121,1);
    color: #fff;
    cursor: pointer;
	margin-left: 220px;
	margin-top: 50px;
	}