@charset "utf-8";
/* CSS Document */
/*英文font1和font5*/
@font-face{font-family: font1;src: url(../font/BOOMBOX.TTF);}
@font-face{font-family: font2;src: url(../font/FZJZJW.TTF);}
@font-face{font-family: font3;src: url(../font/LTCH.TTF);}
@font-face{font-family: font4;src: url(../font/ONYX.TTF);}
@font-face{font-family: font5;src: url(../font/ROCK.TTF);}
@font-face{font-family: font6;src: url(../font/TCCM____.TTF);}
@font-face{font-family: font7;src: url(../font/codropsicons.ttf);}
@font-face{fnot-family: font8;src: url(../font/Bitter.ttf);}
@font-face{fnot-family: font9;src: url(../font/Bitter-Bold.ttf);}
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: 楷体;
	}
body{
	background-color: rgba(245,247,247,1);
	}
/*回顶部按钮*/
.toTop{
	position: fixed;
	bottom: 2%;
	right: 3%;
	display: none;
	z-index: 999999;
	}
.toTop:hover{
	cursor: pointer;
	transform: scale(1.1);
	transition: 0.15s;
	}
/*头部部分*/
.top_header{
	width: 100%;
	height: 30px;
	background: rgba(245,245,245,1);
	}
.top_header .top_header_section{
	width: 1200px;
	height: 30px;
	margin: auto;
	line-height: 40px;
	}
.top_header_left{
	float: left;
	min-width: 100px;
	height: 30px;
	text-align: center;
	}
.top_header_left .to_home{
	color: black;
	font-size: 15px;
	}
.top_header_left .to_home:hover{
	color: #f60;
	}
.top_header_left .backHome{
	width: 30px;
	height: 30px;
	float: left;
	background: url(../images/backhome1.png);
	background-size: 30px 30px;
	}
.top_header_left a:hover .backHome{
	background: url(../images/backhome2.png);
	background-size: 30px 30px;
	}
/*右边注册*/
.top_header_right{
	float: right;
	line-height: 30px;
	}
.top_header_right .to_register{
	color: black;
	}
.top_header_right .to_register:hover{
	color:　#f60;
	}
/*头部*/
.sales_more_top_box{
	background: rgba(255,255,255,1);
	width: 100%;
	height: 80px;
    margin: 0 auto;
	}
.sales_more_top{
	width: 1200px;
    height: 80px;
    margin: 0 auto;
	}
/*左边部分*/
.sales_more_top .sales_more_top_left{
	float: left;
	font-size: 50px;
	line-height: 80px;
	font-family: font2;
	color: rgba(204,0,0,1);
	letter-spacing: 5px;
	cursor: pointer;
	}
/*右边部分*/
.sales_more_top .sales_more_top_right{
	float: right;
	width: 200px;
	height: 80px;
	text-align: center;
	min-height: 80px;
	position: relative;
	}
.sales_more_top_right span a{
	padding: 5px;
	font-size: 20px;
	color: #666;
	line-height: 80px;
	border: 1px solid #666;
	border-radius: 10px;
	transition: all 0.3s;
	}
.sales_more_top_right span a:hover{
	color: rgba(204,0,0,1);
	border: 1px solid rgba(204,0,0,1);
	}
.login_after{
	position: absolute;
	top: 10px;
	left: 30px;
	width: 200px;
	height: 100%;
	display: none;
	}
.login_after .firstImg{
	float: left;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	position: relative;
	cursor: pointer;
	}
.login_after span{
	width: 60px;
	height: 20px;
	font-size: 20px;
	float: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	line-height: 60px;
	margin-left: 10px;
	}
/*用户小窗口*/
.login_after .userToolBox{
	width: 300px;
	height: 200px;
	position: relative;
	top: -360px;
	left: 0;
	z-index: 99999;
	transition: 0.4s;
	background: #fff;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	}
/*小窗口头像*/
.userToolBox .userToolBox_userImg{
	width: 72px;
	height: 72px;
	position: absolute;
	top: 20px;
	left: 114px;
	border: 1px solid #ccc;
	border-radius: 50%;
	overflow: hidden;
	}
.userToolBox_userImg img{
	width: 72px;
	height: 72px;
	}
/*小窗口用户名*/
.userToolBox .userToolBox_username{
	width: 100%;
	height: 30px;
	text-align: center;
	position: absolute;
	top: 95px;
	font-size: 20px;
	line-height: 30px;
	}
/*小窗口资料*/
.userToolBox .userToolBox_myProfile{
	width: 100%;
	height: 40px;
	position: absolute;
	top: 125px;
	line-height: 40px;
	}
.userToolBox_myProfile a{
	font-size: 18px;
	border-radius: 10px;
	border: 1px solid #ccc;
	color: black;
	padding: 5px;
	}
.userToolBox_myProfile a:hover{
	color: green;
	border: 1px solid green;
	}
/*小窗口退出*/
.userToolBox .userToolBox_exit{
	width: 100%;
	position: absolute;
	top: 0;
	font-size: 20px;
	text-align: right;
	}
.userToolBox .userToolBox_exit a{
	padding-right: 20px;
	}
	
/*主体部分*/
.new_main_box{
	width: 100%;
	
	margin: 10px auto;
	}
.new_main_box .new_main_inner{
	width: 1000px;
	margin: 0 auto;
	}
.new_main_inner .newbox{
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 0 15px 5px rgba(102,102,102,0.2);
	padding: 20px;
	position: relative;
	}
.newbox_notice{
	margin: 30px auto;
	min-height: 400px;
	position: relative;
	
}
.newbox::after{
	content: '\20';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
	}
.new_title{
	font-size: 22px;
    color: #287D7C;
    line-height: 50px;
    font-weight: normal;
	}
.new_borline{
	border-bottom: 1px dotted #BFBFBF;
}
.artinfo{
	float: left;
    padding-bottom: 5px;
    color: #999;
	}
.author{
	color: #666;
	font-size: 18px;
	}
.time{
	border-left: 1px solid #999;
	margin-left: 10px;
	padding-left: 10px;
	}
.clearfix:after{
    content: '\20';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}
.article{
	padding: 30px 0 50px;
    font-size: 14px;
    overflow: hidden;
    color: #333;
	}
.article p{
    text-indent:2em;
	font: normal 25px/200% "宋体";
	padding: 8px;
	
	
	}
.article_img{
	width: 720px;
	height: 320px;
	text-align: center;
	line-height: 20px;
    display: block;
    zoom: 1;
    color: #666;
    padding: 15px 0 15px;
    margin: 25px auto;
    font-size: 14px;
	}
.article_img img{
	min-width: 100%;
	min-height: 300px;
	max-height: 300px;
	}
/*阅读量*/
.watch_num{
	position: absolute;
	right: 30px;
	bottom: 30px;
	font-size: 20px;
}
.watch_num span{
	color: red;
}
/*底部部分*/
.footer{
	width: 100%;
	height: 110px;
	background: rgba(11,12,15,0.9);
	font-family: font5;
	font-size: 1.1em;
	color: #CCC;
	position: relative;
	}
#footerSection{
	padding-top: 30px;
	width: 50%;
	height: auto;
	margin: auto;
	}
.footer #footerTitle{
	padding-bottom: 10px;
	text-align: center;
	}
.footer #footerPrompt{
	text-align: center;
	}
/*我要参与*/
.join_box{
	position: absolute;
	top: 20px;
	right: 20px;
	width: 150px;
	height: 80px;
	}
/*参加按钮*/
.join_act_btn{
	display: block;
	width: 100px;
	height: 50px;
	background: #0CF;
	color: #fff;
	line-height: 50px;
	text-align: center;
	margin-bottom: 3px;
	font-size: 18px;
	border-radius: 7px;
	transition: all 0.4s ease;
	cursor: pointer;
	}
.join_act_btn:hover{
	background: #06F;
	}
/*参与人数*/
.join_act_item_num{
	display: block;
	}
.join_act_item_num i{
	color: #F0F;
	}
/*取消参与*/
.quxiao_join{
	border: 1px solid #333;
	background: #ccc;
	color: #333;
	display: block;
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin-bottom: 3px;
	font-size: 18px;
	border-radius: 7px;
	transition: all 0.4s ease;
	cursor: pointer;
}
.quxiao_join:hover{
	background: #999;
}
	